<?xml version="1.0"?>
<!-- SESSION ID: 1507985328 -->
<launch>

  <!-- Sensor parameters -->
  <arg name="camera_ip"   default="192.168.200.201" />
  <arg name="sensor_name" default="hc_101" />

  <!-- Detection node -->
  <include file="$(find detection)/launch/detector_hc.launch">
    <arg name="rgb_camera_info_url"     value="file://$(find opt_calibration)/camera_info/rgb_$(arg sensor_name).yaml" />
    <arg name="sensor_name"             value="$(arg sensor_name)" />
    <arg name="ground_from_calibration" value="true" />
  </include>

</launch>
